<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab2a"></ion-back-button>
    </ion-buttons>
    <ion-title>Crock Pot Chicken Taco Meat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <img src="assets/icon/taco.jpg" class="apl">
    <h1 class="aps">Crock Pot Chicken Taco Meat</h1>
  </div>



  <ion-card>
    <ion-card-content>
      <p class="ir">Ingredients Required</p>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
        3 tablespoons taco seasoning, I use Bulk Taco seasoning mix
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
        1 cup chicken broth
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
        1lbs boneless skinless chicken breast
      </ion-item>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-content>
      <p class="ir">Directions to Prepare</p>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
        Dissolve taco seasoning to chicken broth.
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
        Place chicken breasts in crock pot and pour chicken broth over.
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
        Cover and cook on low for 6-8 hours.
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
        With two forks, shred the cocken meat into bite-size pieces.
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
        To freeze, place shredded meat into freezer bags w/ the juices.
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
        Press out all the air and seal.
      </ion-item>

    </ion-card-content>
  </ion-card>


</ion-content>