ion-content {
  --background: url('/assets/icon/vegbg.jpg') no-repeat center/cover fixed;
  position: relative;
}

.slideshow {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  position: absolute;

}

.slideshow img{
  height: 350px;
  margin: 10px;
  background-color: burlywood;
  padding: 5px;
  box-shadow: 0 0 5px gold;

}

.quote {
  font-size: 30px;
  text-align: center;
  margin-top: 400px;

}
  