<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/exercises"></ion-back-button>
    </ion-buttons>
    <ion-title>Lower Body</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card button (click)="presentModal()">
    <ion-card-content>
      <img class="imgg" src="assets/icon/glute.gif" alt="Glute">
      <p class="fbpsize">Glute Bridge</p>
      <p class="fbpsize2">x15</p>
    </ion-card-content>
  </ion-card>

  <ion-card button (click)="presentModal2()">
    <ion-card-content>
      <img class="imgg" src="assets/icon/clam.gif" alt="Clam">
      <p class="fbpsize">Clamshell</p>
      <p class="fbpsize2">x30</p>
    </ion-card-content>
  </ion-card>

  <ion-card button (click)="presentModal3()">
    <ion-card-content>
      <img class="imgg" src="assets/icon/stepup.gif" alt="Stepup">
      <p class="fbpsize">Step-ups</p>
      <p class="fbpsize2">x15</p>
    </ion-card-content>
  </ion-card>

  <ion-card button (click)="presentModal4()">
    <ion-card-content>
      <img class="imgg" src="assets/icon/hip.gif" alt="Hip">
      <p class="fbpsize">Hip Thruster</p>
      <p class="fbpsize2">x12</p>
    </ion-card-content>
  </ion-card>

  <ion-card button (click)="presentModal5()">
    <ion-card-content>
      <img class="imgg" src="assets/icon/side.gif" alt="Side">
      <p class="fbpsize">Side Lunge</p>
      <p class="fbpsize2">x12</p>
    </ion-card-content>
  </ion-card>
</ion-content>
