ion-menu-button {
  color: var(--ion-color-primary);
}

ion-toolbar {
  --background: url('/assets/icon/h&f1.jpg') no-repeat center/cover fixed;
}

ion-content {
  --background: url('/assets/icon/bg1.jpg') no-repeat center/cover fixed;
}


.abt {
  background-color: #ffffff;    
}

.ion-text-center {
  text-align: justify;
  font-size: 20px;
  color: black;
}

.contactus {
  color: #ffffff;
  text-align: center;
}

.abt1 {
  height: 30%;
  width: 30%;
  margin-left: 123px;
}

.avatar {
  width: 150px;
  height: 150px;
  position: relative;
  margin: 0 auto;
}

.pic {
display: block ;
border-radius: 50%;
position: absolute;
border: 2px solid #ffffff ;
background-color: #fff;
bottom: 70px;
}


.name {
  font-size: 25px;
  font-style: bold;
  color: #000000 ; 
}

.course {
  font-size: 20px;
  font-style: bold;
  color: #000000 ; 
}

.eaddress {
  font-size: 20px;
  font-style: bold;
  color: #0400ff ; 
}


.div1 {
  text-align: center;

}

.divcenter {
  width: 97%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  background-color: white;
  border-radius: 20px;
}

.pbtm {
  margin-top: -75px!important;
}