.fbpsize {
    font-size: 18px;
    color: Black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: inline;
    vertical-align: 30px;
    margin-left: 20px;
  }

  .fbpsize2 {
    font-size: 12px;
    color: grey;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: inline;
    vertical-align: 30px;
    margin-left: 20px;
  }


.imgg {
    display: inline;
    width: 70px;
    height: 70px;
}

 