<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/exercises"></ion-back-button>
    </ion-buttons>
    <ion-title>Upper Body</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card button (click)="presentModal()">
    <ion-card-content>
      <img class="imgg" src="assets/icon/diamond.gif" alt="Diamond">
      <p class="fbpsize">Diamond Press-up</p>
      <p class="fbpsize2">x15</p>
    </ion-card-content>
  </ion-card>

  <ion-card button (click)="presentModal2()">
    <ion-card-content>
      <img class="imgg" src="assets/icon/bench.gif" alt="Bench">
      <p class="fbpsize">Bench Press</p>
      <p class="fbpsize2">x20</p>
    </ion-card-content>
  </ion-card>

  <ion-card button (click)="presentModal3()">
    <ion-card-content>
      <img class="imgg" src="assets/icon/dumbell.gif" alt="Dumbbell">
      <p class="fbpsize">Dumbbell Curls</p>
      <p class="fbpsize2">x15</p>
    </ion-card-content>
  </ion-card>

  <ion-card button (click)="presentModal4()">
    <ion-card-content>
      <img class="imgg" src="assets/icon/tricep.gif" alt="Triceps">
      <p class="fbpsize">Triceps Kickback</p>
      <p class="fbpsize2">x15</p>
    </ion-card-content>
  </ion-card>

  <ion-card button (click)="presentModal5()">
    <ion-card-content>
      <img class="imgg" src="assets/icon/tricepdip.gif" alt="Triceps">
      <p class="fbpsize">Triceps Dip</p>
      <p class="fbpsize2">x15</p>
    </ion-card-content>
  </ion-card>
</ion-content>
