ion-content {
 
  position: relative;
}

.ftfy {
  text-align: center;
  text-decoration-line: underline;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.veg {
  --background: url('/assets/icon/veg.jpg') 0 0/100% 100% no-repeat;
  height: 150px;
  margin-top: 20px;
}

.veg1 {
  --background: url('/assets/icon/nonv.jpg') 0 0/100% 100% no-repeat;
  height: 150px;
  margin-top: 20px;
}


.fbpsize {
  padding-top: 30px;
  text-align: right;
  font-size: 35px;
  margin-left: 10px;
  margin-bottom: 45px;
  color: rgb(255, 255, 255);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.fbpsize1 {
  padding-top: 30px;
  text-align: left;
  font-size: 35px;
  margin-bottom: 45px;
  color: rgb(255, 255, 255);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}


  