<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>Health & Food Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" slot="fixed">
  <ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="iostitlesize">
        <div class="ion-text-wrap">Health & Food Tips</div>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ftfy">
    <h1><b>TIPS FOR YOU</b></h1>
    </div>
    

  <ion-card  button [routerLink]="['/tab2']" class="veg">
      <ion-card-content >
        <p class="fbpsize">Vegetarian <br></p>
      </ion-card-content>
  </ion-card>

  <ion-card  button [routerLink]="['/tab2a']" class="veg1">
    <ion-card-content >
      <p class="fbpsize1">Non-Vegetarian <br></p>
    </ion-card-content>
</ion-card>

  <ion-card >
    <ion-card-content >
      <img src="assets/icon/ewlw2.png">
    </ion-card-content>
  </ion-card>



</ion-content>



