<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>Asian Pomegranate Salad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <img src="assets/icon/salad.jpg">
    <h1 class="aps">Asian Pomegranate Salad</h1>
  </div>

  <ion-card>
    <ion-card-content>
      <p class="ir">Ingredients Required</p>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline" size="medium"></ion-icon>
        </div>
        
        <p class="a22">2 cups iceberg lettuce, torn in bite sized pieces</p>
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline" size="medium"></ion-icon>
        </div>
        1 green onion, finely chopped
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline" size="medium"></ion-icon>
        </div>
        2 celery ribs, chopped
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline" size="medium"></ion-icon>
        </div>
        1/2 cup Pomegranate seeds
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline" size="medium"></ion-icon>
        </div>
        1/2 cup chopped mandarin orange section
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline" size="medium"></ion-icon>
        </div>
        1/2 cip light oil and vinegar dessing
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline" size="medium"></ion-icon>
        </div>
        1/4 cup balsamic vinegar
      </ion-item>
      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p class="ir">Directions to Prepare</p>
      <ion-item >
        <div>
          <ion-icon name="add-circle-outline" size="medium"></ion-icon>
        </div>
        Mix all greens together in a large salad bowl, adding more lettuceif need be.
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline" size="medium"></ion-icon>
        </div>
        Add more Pomegranateseeds and mandarin orange pieces.
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline" size="medium"></ion-icon>
        </div>
        Mic in enough oil and vinegar salad dressing to taste, drizzle with balsamic vinegar.
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline" size="medium"></ion-icon>
        </div>
        Toss lightly and enjoy!
      </ion-item>
      
    </ion-card-content>
  </ion-card>
 

</ion-content>