<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/exercises"></ion-back-button>
    </ion-buttons>
    <ion-title>Full Body</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 

    <ion-card button (click)="presentModal()">
      <ion-card-content>
        <img class="imgg" src="assets/icon/pushup.gif" alt="PushUps">
        <p class="fbpsize">Push Ups</p>
        <p class="fbpsize2">x16</p>
      </ion-card-content>
    </ion-card>

    <ion-card button (click)="presentModal2()">
      <ion-card-content>
        <img class="imgg" src="assets/icon/squats.gif" alt="Squats">
        <p class="fbpsize">Squats</p>
        <p class="fbpsize2">x16</p>
      </ion-card-content>
    </ion-card>

    <ion-card button (click)="presentModal3()">
      <ion-card-content>
        <img class="imgg" src="assets/icon/running.gif" alt="Running">
        <p class="fbpsize">Running</p>
        <p class="fbpsize2">5 mins</p>
      </ion-card-content>
    </ion-card>

    <ion-card button (click)="presentModal4()">
      <ion-card-content>
        <img class="imgg" src="assets/icon/lunges.gif" alt="Lunges">
        <p class="fbpsize">Lunges</p>
        <p class="fbpsize2">x16</p>
      </ion-card-content>
    </ion-card>

    <ion-card button (click)="presentModal5()">
      <ion-card-content>
        <img class="imgg" src="assets/icon/burpee.gif" alt="Burpees">
        <p class="fbpsize">Burpees</p>
        <p class="fbpsize2">x16</p>
      </ion-card-content>
    </ion-card>

 
</ion-content>
