ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

  ion-card.fb{
    --background: url('/assets/icon/exercise.jpg') 0 0/100% 100% no-repeat;
  }
  ion-card.ub{
    --background: url('/assets/icon/upper.jpg') 0 0/100% 100% no-repeat;
  }
  ion-card.lb{
    --background: url('/assets/icon/lb.jpg') 0 0/100% 100% no-repeat;
  }
  

  .fbpsize {
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 125px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
