<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>Health & Food Tips</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" slot="fixed">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="iostitlesize">
        <div class="ion-text-wrap">Health & Food Tips</div>
      </ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-card>
      <ion-card-content class="icc">
       <p class="ion-text-center">Hi! Don't have enough budget for personal trainor? Are you looking for the proper diet? Come! We will help you to reach your goal! </p> 
      </ion-card-content>
    </ion-card> 

    <ion-card>
      <ion-card-content>
        <div>
        <img class="hnf4" src="assets/icon/h&f4.jpg">
        </div>
      </ion-card-content>
    </ion-card>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="healthtab">
        <ion-icon name="heart-outline"></ion-icon>
        <ion-label>Health Tips</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="foodtab">
        <ion-icon name="pizza-outline"></ion-icon>
        <ion-label>Food Tips</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>



