<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="iostitlesize">Home</ion-title>
    </ion-toolbar>
  </ion-header>

    <ng-container *ngIf="!wallpost || wallpost.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>


    <h1 class="coll"><b>FORUM'S FEED</b></h1>
    <ion-card *ngFor="let item of wallpost">
      <ion-item button [routerLink]="['/csection', item.id]">
        <ion-card-header>
          <ion-card-subtitle>{{item.guestUser}}</ion-card-subtitle>
          <ion-card-title>{{item.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-item>
    </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light" routerLink="/ccomment" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>